body {background:#E9D4FF; text-align: center;}

h1 { font-family: 'Crimson Text', serif;
  font-weight: 700;
text-align: center; color: #220046;
font-size: 40px; text-decoration: underline;}

p { font-size: 25px; }

h2 {background-color:#220046; display: inline-block;  padding: 5px 10px; border-radius: 4px;
   color:#BC7DFF; text-decoration: underline; font-size: 30px;}

h3{color:#370072; background-color:#BC7DFF; display: inline-block; font-size: 30px;
   padding: 5px 10px; border-radius: 4px; text-decoration: underline;}

li {text-align: center; font-size: 22px;}

img {width: 500px;
  height: 400px;}
